div{
    border: 5px solid pink;
}

.box{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display:inline-block;
    top: 20px;
    padding: 0px;
    margin: 0px;
}


#box1{

}
#box2{

}
#box3{

}
#box4{

}
#box5{

}
#box6{

}
#box7{

}
#box8{

}
#box9{

}